@using EssayStorage.Models.Database
@{
    ViewData["Title"] = "Результат поиска";
}

<center><h3>Result</h3></center>
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Специализация</th>
                    <th>Рейтинг</th>
                    <th>Время создания</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var essay in (List<Essay>)ViewData["essays"])
                {
                    <tr>
                        <td style="vertical-align: middle;">@Html.ActionLink(essay.Name, "essay", "display", new { essayId = essay.Id })</td>
                        <td style="vertical-align: middle;">@essay.Description</td>
                        <td style="vertical-align: middle;">@essay.Specialization</td>
                        <td style="vertical-align: middle;">@essay.AverageRating</td>
                        <td style="vertical-align: middle;">@essay.CreationTime</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>