@using EssayStorage.Models.Database
@{
    ViewData["Title"] = "GetUserEssays";
}
<link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
<script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<div class="row">
    <div class="table-responsive">
        <table id="essays-table" class="">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Specialization</th>
                    <th>Rating</th>
                    <th>Creation time</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Essay essay in (List<Essay>)ViewData["essays"])
                {
                <tr>
                    <td class="odd" style="vertical-align: middle;">@Html.ActionLink(essay.Name, "essay", "display", new { essayId = essay.Id })</td>
                    <td class="even" style="vertical-align: middle;">@essay.Description</td>
                    <td style="vertical-align: middle;">@essay.Specialization</td>
                    <td style="vertical-align: middle;">@essay.AverageRating</td>
                    <td style="vertical-align: middle;">@essay.CreationTime</td>
                    <td style="vertical-align: middle;">
                        <center>
                            <form method="post" action="../Editor/EditEssay">
                                <input name="essayId" value="@essay.Id" style="display:none;" />
                                <button class="btn">Edit</button>
                            </form>
                        </center>
                    </td>
                    <td style="vertical-align: middle;">
                        <center>
                            <form method="post" action="../Editor/DeleteEssay">
                                <input name="essayId" value="@essay.Id" style="display:none;" />
                                <button class="btn">Delete</button>
                            </form>
                        </center>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#essays-table').DataTable({
        "lengthMenu": false,
        "lengthChange": false,
        "paging": false,
        "info": false,
        "aoColumnDefs": [{
            "bSortable": false,
            "aTargets": [5, 6]
        }],
        "stripeClasses": ['table-line-odd', null]
    });
</script>